html, body {
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    min-width: 400px;
  }
  
  .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
  }

  h1, #ville{
    text-align: center;
  }

  #ville {
    text-transform: capitalize;
    display: block;
  }
  
  #temperature {
    font-size: 4em;
  }
  
  #changer {
    background: rgba(178, 223, 251, .3);
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
  }